/* FormElement */
.form-element {
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
}
.form-element-description {
	color: #525252;
	padding: 5px 0 5px 10px;
	width: 100%;
}

/* FormElementButton */
.form-element-button {
	margin: 5px 25px 5px 0;
    text-align: right;
}
.form-element-button button {
	display: inline-block;
	padding: 0 10px 0 10px;
	/* IE7 hack */
	*display: inline;
	zoom: 1;
}

/* FormElementCheckbox */
.form-element-checkbox {
	margin: 5px 0 5px 25px;
}
.form-element-checkbox label {
    margin: 0 0 0 10px;
}
.form-element-checkbox button {
	display: inline-block;
	padding: 0 10px 0 10px;
	/* IE7 hack */
	*display: inline;
	zoom: 1;
}

/* FormElementCheckboxGroup */
.form-element-checkbox-group {
	margin: 5px 0 5px 0;
}

/* FormElementDate */
.form-element-date {
	margin: 5px 0 5px 25px;
}
.form-element-date div.form-element-select {
    display: inline-block;
    margin: 0;
    zoom: 1;
    *display: inline;
}
.form-element-date select#birthday-day {
    width: 40px;
}
.form-element-date select#birthday-month {
    margin: 0 5px 0 5px;
    width: 85px;
}
.form-element-date select#birthday-year {
    width: 55px;
}

/* FormElementFieldset */
.form-element-fieldset {
    margin: 30px 0 0 200px;
    width: 760px;
}
.form-element-fieldset fieldset {
	border: 0;
	border-radius: 5px;
	padding: 10px 10px 10px 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.form-element-fieldset fieldset legend {
    margin: 0;
	padding: 0 5px 0 5px;
}

/* FormElementFile */
.form-element-file {
	margin: 5px 0 5px 0;
}

/* FormElementLabel */
.form-element label {
	display: inline-block;
    width: 200px;
	/* IE7 hack */
	*display: inline;
	zoom: 1;
}
.form-element-required {
	color: #c00c00;
    display: inline-block;
    padding: 0 0 0 5px;
    width: 10px;
	/* IE7 hack */
	*display: inline;
	zoom: 1;
}

/* FormElementPassword */
.form-element-password {
	margin: 5px 0 5px 25px;
}
.form-element-password input {
    display: inline-block;
    width: 250px;
}

/* FormElementRadio */
.form-element-radio {
	margin: 5px 0 5px 0;
}

/* FormElementRadioGroup */
.form-element-radio-group {
	margin: 5px 0 5px 0;
}

/* FormElementSelect */
.form-element-select {
    margin: 5px 0 5px 25px;
}
.form-element-select select {
    display: inline-block;
    width: 250px;
}

/* FormElementText */
.form-element-text {
	margin: 5px 0 5px 25px;
}
.form-element-text input {
    display: inline-block;
    width: 250px;
}

/* FormElementTextarea */
.form-element-textarea {
	margin: 5px 0 5px 0;
}
.form-element-textarea label {
	vertical-align: top;
}
.form-element-textarea textarea {
	resize: none;
}

/* Form Error */
.form-error-group {
	background: #ffebe8;
	border: 1px solid #c00c00;
	border-radius: 3px;
	margin: 10px 15px 10px 15px;
	padding: 10px 10px 0 10px;
}
.form-individual-error {
    font-size: 12px;
	padding: 0 0 10px 0;
}

.form-element-html {
    font-family: arial, sans-serif;
    font-size: 16px;
}
